.menu__sidebar {
  //background-color: beige;
}


.menu__sidebar__ul{

    //background-color: rgb(34, 194, 66);
    list-style-type: none;
    margin: 0;
    padding: .4rem 0;
}

.menu__sidebar__ul .menu-item{  // li 

    margin : .5rem 0;
}

.menu__sidebar__ul .menu-item a{ // a
    padding : .5rem;
    line-height: 1.5rem;
}

.menu__sidebar__ul .menu-item a:hover{
    background-color: lighten($color__background-zonegrid, 30%);;
}

